<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0" />
	<meta name="color-scheme" content="light dark" />
	<title>Index</title>
	<meta name="description" content="A class-less example, without dependencies." />

	<!-- Pico.css -->
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.red.min.css"
	/>
</head>
<body>
	<header class="container">
		<hgroup>
			<h1>INDEX</h1>
			<p>Please log in below</p>
		</hgroup>
	</header>
	<hr>
	<main class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<p id="errors">
				{% for message in messages %}
					{{message}}
				{% endfor %}
			</p>
		{% endif %}
		{% endwith %}
		</div> 
		<nav>
			<div class="grid">
				<article>
					<ul>
						<li><a href="/signup">Sign up</a></li>
						<li><a href="/login">Log In</a></li>
					</ul>
				</article>
			</div>
		</nav>
	</main>
</body>
</html>